interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.ioc-sealevelmonitoring.org/bgraph.php?code=vera&output=tab&period=0.1&endtime=2022-09-01
  response:
    body:
      string: <div align=center><table border="1"><th colspan="2">Tide gauge at Veracruz,
        Ver.</th><tr><td>Time (UTC)</td><td class=field>rad(m)</td></tr><tr><td>2022-08-31
        21:36:45</td><td>1.67</td></tr><tr><td>2022-08-31 21:37:45</td><td>1.67</td></tr><tr><td>2022-08-31
        21:38:45</td><td>1.66</td></tr><tr><td>2022-08-31 21:39:45</td><td>1.67</td></tr><tr><td>2022-08-31
        21:40:45</td><td>1.67</td></tr><tr><td>2022-08-31 21:41:00</td><td>1.67</td></tr><tr><td>2022-08-31
        21:41:45</td><td>1.67</td></tr><tr><td>2022-08-31 21:42:00</td><td>1.67</td></tr><tr><td>2022-08-31
  [...]
