[tool.poetry]
name = "searvey"
version = "0.1.0"
description = ""
authors = ["Panos Mavrogiorgos <pmav99@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
erddapy = "^1.1"
pandas = "^1.3"
pydantic = "^1.8"
requests = "^2.26"

[tool.poetry.dev-dependencies]
black = "*"
ipython = "*"
setuptools = "*"
mypy = "0.910"
pre-commit = "^2.15"
prospector = "^1.5"
pytest = "^6.2"
pytest-cov = "^2.12"
pytest-recording = "^0.12.0"
types-requests = "^2.25"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 108
target-version = ['py39']

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra --verbose --showlocals --tb=short --cov=searvey --cov-report term-missing"
testpaths = [
    "tests",
]

[tool.mypy]
python_version = "3.9"
plugins = [
    "pydantic.mypy",
]

show_error_codes = true
show_column_numbers = true
show_error_context = true

# configure behavior
strict = true
ignore_missing_imports = true

# mypy per-module options:
[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true
