interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - REDACTED
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/continuous/items?monitoring_location_id=USGS-15484000&time=2022-09-30%2F2022-10-01&skipGeometry=False&limit=50000
  response:
    body:
      string: "{\n    \"type\":\"FeatureCollection\",\n    \"features\":[\n        {\n
        \           \"type\":\"Feature\",\n            \"properties\":{\n                \"id\":\"77adbb66-32e6-40e1-ba25-48c1609f3e06\",\n
        \               \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-30T00:00:00+00:00\",\n
        \               \"value\":\"4.4\",\n                \"unit_of_measure\":\"degC\",\n
        \               \"approval_status\":\"Approved\",\n                \"qualifier\":null,\n
        \               \"last_modified\":\"2025-08-08T00:58:03.416189+00:00\"\n            },\n
        \           \"id\":\"77adbb66-32e6-40e1-ba25-48c1609f3e06\",\n            \"geometry\":null\n
        \       },\n        {\n            \"type\":\"Feature\",\n            \"properties\":{\n
        \               \"id\":\"566705c0-9416-4036-8d88-8521df5e49bf\",\n                \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-30T00:15:00+00:00\",\n
        \        [...]
