interactions:
- request:
    body: "{\n    \"op\": \"and\",\n    \"args\": [\n        {\n            \"op\":
      \"in\",\n            \"args\": [\n                {\n                    \"property\":
      \"monitoring_location_id\"\n                },\n                [\n                    \"USGS-15056500\",\n
      \                   \"USGS-15484000\"\n                ]\n            ]\n        }\n
      \   ]\n}"
    headers:
      Content-Type:
      - application/query-cql-json
      X-Api-Key:
      - REDACTED
      lang:
      - en-US
    method: POST
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/continuous/items?time=2022-09-27%2F2022-09-29&skipGeometry=False&limit=50000
  response:
    body:
      string: "{\n    \"type\":\"FeatureCollection\",\n    \"features\":[\n        {\n
        \           \"type\":\"Feature\",\n            \"properties\":{\n                \"id\":\"16f6fe1a-e7d9-417f-9aef-f5241ade4b2e\",\n
        \               \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-27T00:00:00+00:00\",\n
        \               \"value\":\"3.7\",\n                \"unit_of_measure\":\"degC\",\n
        \               \"approval_status\":\"Approved\",\n                \"qualifier\":null,\n
        \               \"last_modified\":\"2025-08-08T00:58:03.416189+00:00\"\n            },\n
        \           \"id\":\"16f6fe1a-e7d9-417f-9aef-f5241ade4b2e\",\n            \"geometry\":null\n
        \       },\n        {\n            \"type\":\"Feature\",\n            \"properties\":{\n
        \               \"id\":\"066ace9d-e65c-463b-8a68-ca694af4d0f0\",\n                \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-27T00:15:00+00:00\",\n
        \        [...]
