interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - REDACTED
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?skipGeometry=False&limit=50000&bbox=-77.2%2C38.9%2C-77.0%2C39.0
  response:
    body:
      string: "{\n    \"type\":\"FeatureCollection\",\n    \"features\":[\n        {\n
        \           \"type\":\"Feature\",\n            \"properties\":{\n                \"id\":\"MD007-385839077055701\",\n
        \               \"agency_code\":\"MD007\",\n                \"agency_name\":\"Maryland
        Department of the Environment (MDE)\",\n                \"monitoring_location_number\":\"385839077055701\",\n
        \               \"monitoring_location_name\":\"MO2010G001\",\n                \"district_code\":\"24\",\n
        \               \"country_code\":\"US\",\n                \"country_name\":\"United
        States of America\",\n                \"state_code\":\"24\",\n                \"state_name\":\"Maryland\",\n
        \               \"county_code\":\"031\",\n                \"county_name\":\"Montgomery
        County\",\n                \"minor_civil_division_code\":null,\n                \"site_type_code\":\"GW\",\n
        \               \"site_type\":\"Well\",\n                \"hydrologic_unit_code\":\"020700081005\",\n
        \               \"basin_code\":null,\n                \"altitude\":null,\n
        \               \"altitude_accuracy\":null,\n                \"altitude_method_code\":null,\n
        \               \"altitude_method_name\":null,\n                \"vertical_datum\":null,\n
        \               \"vertical_datum_name\":null,\n                \"horizontal_positional_accuracy_code\":\"M\",\n
        \               \"horizontal_positional_accuracy\":\"Accurate to + or - 1
        min.\",\n                \"horizontal_position_method_code\":\"U\",\n                \"horizontal_position_method_name\":\"Unknown\",\n
        \               \"original_horizontal_datum\":\"NAD83\",\n                \"original_horizontal_datum_name\":\"North
        American Datum of 1983\",\n                \"drainage_area\":null,\n                \"contributing_drainage_area\":null,\n
        \               \"time_zone_abbreviation\":\"EST\",\n                \"uses_daylight_savings\":\"Y\",\n
        \               \"construction_date\":null,\n                \"aquifer_code\":null,\n
        \               \"national_aquifer_code\":null,\n                \"aquifer_type_code\":null,\n
        \               \"well_constructed_depth\":null,\n                \"hole_constructed_depth\":null,\n
        \               \"depth_source_code\":null,\n                \"revision_note\":null,\n
        \               \"revision_created\":null,\n                \"revision_modified\":null\n
        \           },\n            \"id\":\"MD007-385839077055701\",\n            \"geometry\":{\n
        \               \"type\":\"Point\",\n                \"coordinates\":[\n                    -77.0991666666667,\n
        \                   38.9775\n                ]\n            }\n        },\n
        \       {\n            \"type\":\"Feature\",\n            \"properties\":{\n
        \               \"id\":\"MD007-385842077055301\",\n                \"agency_code\":\"MD007\",\n
        \               \"agency_name\":\"Maryland Department of the Environment (MDE)\",\n
        \               \"monitoring_location_number\":\"385842077055301\",\n              [...]
