interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - REDACTED
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/continuous/items?monitoring_location_id=USGS-15484000&time=2022-09-29%2F2022-10-01&skipGeometry=False&limit=50000
  response:
    body:
      string: "{\n    \"type\":\"FeatureCollection\",\n    \"features\":[\n        {\n
        \           \"type\":\"Feature\",\n            \"properties\":{\n                \"id\":\"c691366f-4872-4031-af9e-8034c33b43ff\",\n
        \               \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-29T00:00:00+00:00\",\n
        \               \"value\":\"3.6\",\n                \"unit_of_measure\":\"degC\",\n
        \               \"approval_status\":\"Approved\",\n                \"qualifier\":null,\n
        \               \"last_modified\":\"2025-08-08T00:58:03.416189+00:00\"\n            },\n
        \           \"id\":\"c691366f-4872-4031-af9e-8034c33b43ff\",\n            \"geometry\":null\n
        \       },\n        {\n            \"type\":\"Feature\",\n            \"properties\":{\n
        \               \"id\":\"a28446e9-9a6c-4e48-b336-bab90e0afc0f\",\n                \"time_series_id\":\"017c8863f53a4d9e9aa872ec38f80028\",\n
        \               \"monitoring_location_id\":\"USGS-15484000\",\n                \"parameter_code\":\"00010\",\n
        \               \"statistic_id\":\"00011\",\n                \"time\":\"2022-09-29T00:15:00+00:00\",\n
        \        [...]
