interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - REDACTED
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?id=USGS-01646500&skipGeometry=False&limit=50000
  response:
    body:
      string: "{\n    \"type\":\"FeatureCollection\",\n    \"features\":[\n        {\n
        \           \"type\":\"Feature\",\n            \"properties\":{\n                \"id\":\"USGS-01646500\",\n
        \               \"agency_code\":\"USGS\",\n                \"agency_name\":\"U.S.
        Geological Survey\",\n                \"monitoring_location_number\":\"01646500\",\n
        \               \"monitoring_location_name\":\"POTOMAC RIVER NEAR WASH, DC
        LITTLE FALLS PUMP STA\",\n                \"district_code\":\"24\",\n                \"country_code\":\"US\",\n
        \               \"country_name\":\"United States of America\",\n                \"state_code\":\"24\",\n
        \               \"state_name\":\"Maryland\",\n                \"county_code\":\"031\",\n
        \               \"county_name\":\"Montgomery County\",\n                \"minor_civil_division_code\":\"90612\",\n
        \               \"site_type_code\":\"ST\",\n                \"site_type\":\"Stream\",\n
        \               \"hydrologic_unit_code\":\"020700081005\",\n                \"basin_code\":null,\n
        \               \"altitude\":37.04,\n                \"altitude_accuracy\":0.17,\n
        \               \"altitude_method_code\":\"X\",\n                \"altitude_method_name\":\"GNSS2
        - Level 2 Quality Survey Grade Global Navigation Satellite System\",\n                \"vertical_datum\":\"NAVD88\",\n
        \               \"vertical_datum_name\":\"North American Vertical Datum of
        1988\",\n                \"horizontal_positional_accuracy_code\":\"S\",\n
        \               \"horizontal_positional_accuracy\":\"Accurate to + or - 1
        sec.\",\n                \"horizontal_position_method_code\":\"G\",\n                \"horizontal_position_method_name\":\"Mapping
        grade GPS unit (handheld accuracy range 12 to 40 ft)\",\n                \"original_horizontal_datum\":\"NAD83\",\n
        \               \"original_horizontal_datum_name\":\"North American Datum
        of 1983\",\n                \"drainage_area\":11560.0,\n                \"contributing_drainage_area\":null,\n
        \               \"time_zone_abbreviation\":\"EST\",\n                \"uses_daylight_savings\":\"Y\",\n
        \               \"construction_date\":null,\n                \"aquifer_code\":null,\n
        \               \"national_aquifer_code\":null,\n                \"aquifer_type_code\":null,\n
        \               \"well_constructed_depth\":null,\n                \"hole_constructed_depth\":null,\n
        \               \"depth_source_code\":null,\n                \"revision_note\":\"<ul>\\n
        \   <li>WSP 726: Drainage area.</li>\\n    <li>WDR MD-DE-75-1: 1973-74(M).</li>\\n
        \   <li>https://waterdata.usgs.gov/nwis/dv/?site_no=01646500:<a href=\\\"https://waterdata.usgs.gov/md/nwis/dv?cb_00060=on&amp;format=html&amp;site_no=01646500&amp;referred_module=sw&amp;period=&amp;begin_date=2018-03-02&amp;end_date=2018-03-02\\\">
        2018.</a></li>\\n    <li>https://waterdata.usgs.gov/nwis/uv/?site_no=01646500:<a
        href=\\\"https://nwis.waterdata.usgs.gov/md/nwis/uv/?cb_00060=on&amp;site_no=01646500&amp;referred_module=sw&amp;period=&amp;begin_date=2021-03-02&amp;end_date=2021-06-25\\\">
        2021.</a></li>\\n    <li>Discharge for Measurement 385 made on 06/25/2021
        was revised on 09/22/2021 due to an error in computation.</li>\\n</ul>\",\n
        \               \"revision_created\":\"2017-11-13T06:00:00+00:00\",\n                \"revision_modified\":\"2021-10-19T19:48:10.807000+00:00\"\n
        \           },\n            \"id\":\"USGS-01646500\",\n            \"geometry\":{\n
        \               \"type\":\"Point\",\n                \"coordinates\":[\n                    -77.12763888888888,\n
        \                   38.949777777777776\n                ]\n            }\n
        \       }\n    ],\n    \"numberReturned\":1,\n    \"links\":[\n        {\n
        \           \"type\":\"application/geo+json\",\n            \"rel\":\"self\",\n
        \           \"title\":\"This document as GeoJSON\",\n            \"href\":\"https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?f=json&id=USGS-01646500&skipGeometry=False&limit=50000\"\n
        \       },\n        {\n            \"rel\":\"alternate\",\n            \"type\":\"application/ld+json\",\n
        \           \"title\":\"This document as RDF (JSON-LD)\",\n            \"href\":\"https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?f=jsonld&id=USGS-01646500&skipGeometry=False&limit=50000\"\n
        \       },\n        {\n            \"type\":\"text/html\",\n            \"rel\":\"alternate\",\n
        \           \"title\":\"This document as HTML\",\n            \"href\":\"https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?f=html&id=USGS-01646500&skipGeometry=False&limit=50000\"\n
        \       },\n        {\n            \"type\":\"text/csv; charset=utf-8\",\n
        \           \"rel\":\"alternate\",\n            \"title\":\"This document
        as CSV\",\n            \"href\":\"https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?f=csv&id=USGS-01646500&skipGeometry=False&limit=50000\"\n
        \       },\n        {\n            \"type\":\"application/json\",\n            \"title\":\"Monitoring
        locations\",\n            \"rel\":\"collection\",\n            \"href\":\"https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations\"\n
        \       }\n    ],\n    \"timeStamp\":\"2026-04-02T17:36:58.879867Z\"\n}"
    headers:
      Api-Version:
      - 0.23.0
      Content-Crs:
      - <http://www.opengis.net/def/crs/OGC/1.3/CRS84>
      Content-Language:
      - en-US
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Umbrella-Request-Id:
      - ct9t2q0spe3mtbg9mkh0
      X-Build-Version:
      - 0.42.3-e5db988b
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      X-Vcap-Request-Id:
      - 4b392a42-92b4-485e-716e-f39407ddf729
    status:
      code: 200
      message: OK
version: 1
