attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
certifi==2022.5.18.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.7"
click==8.1.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7"
cligj==0.7.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
erddapy==1.2.1; python_version >= "3.6"
fiona==1.8.21; python_version >= "3.7"
geopandas==0.10.2; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
munch==2.5.0; python_version >= "3.7"
numpy==1.22.4
packaging==21.3; python_version >= "3.8"
pandas==1.4.2; python_version >= "3.8"
pydantic==1.9.1; python_full_version >= "3.6.1"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pyproj==3.3.1; python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.8" and python_version < "4.0"
pytz==2022.1; python_version >= "3.8"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
shapely==1.8.2; python_version >= "3.6"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.8" and python_version < "4.0"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
typepigeon==1.0.14; python_version >= "3.6" and python_version < "4.0"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
xarray==2022.3.0; python_version >= "3.8"
