affine==2.4.0 ; python_version >= "3.9" and python_version < "4"
alabaster==0.7.16 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
alabaster==1.0.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "4"
anyio==4.9.0 ; python_version >= "3.9" and python_version < "4"
appnope==0.1.4 ; python_version >= "3.9" and python_version < "4" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.9" and python_version < "4"
attrs==25.3.0 ; python_version >= "3.9" and python_version < "4"
babel==2.17.0 ; python_version >= "3.9" and python_version < "4"
beautifulsoup4==4.13.4 ; python_version >= "3.9" and python_version < "4"
bleach==6.2.0 ; python_version >= "3.9" and python_version < "4"
bokeh==3.4.3 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
bokeh==3.7.3 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
bs4==0.0.2 ; python_version >= "3.12" and python_version < "4"
cartopy==0.23.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
cartopy==0.24.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
certifi==2025.6.15 ; python_version >= "3.9" and python_version < "4"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "4" and implementation_name == "pypy"
charset-normalizer==3.4.2 ; python_version >= "3.9" and python_version < "4"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4"
click==8.1.8 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
click==8.2.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
cligj==0.7.2 ; python_version >= "3.9" and python_version < "4"
cloudpickle==3.1.1 ; python_version >= "3.9" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4" and (platform_system == "Windows" or sys_platform == "win32")
colorcet==3.1.0 ; python_version >= "3.9" and python_version < "4"
comm==0.2.2 ; python_version >= "3.9" and python_version < "4"
contourpy==1.3.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
contourpy==1.3.2 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
covdefaults==2.3.0 ; python_version >= "3.9" and python_version < "4"
coverage==7.9.1 ; python_version >= "3.9" and python_version < "4"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "4"
dask==2024.8.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
dask==2025.5.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
dataretrieval==1.0.12 ; python_version >= "3.9" and python_version < "4"
debugpy==1.8.14 ; python_version >= "3.9" and python_version < "4"
decorator==5.2.1 ; python_version >= "3.9" and python_version < "4"
deprecated==1.2.18 ; python_version >= "3.9" and python_version < "4"
docutils==0.21.2 ; python_version >= "3.9" and python_version < "4"
dunamai==1.24.1 ; python_version >= "3.9" and python_version < "4"
erddapy==2.2.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
erddapy==2.2.4 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
exceptiongroup==1.3.0 ; python_version >= "3.9" and python_version < "4"
execnet==2.1.1 ; python_version >= "3.9" and python_version < "4"
executing==2.2.0 ; python_version >= "3.9" and python_version < "4"
fastjsonschema==2.21.1 ; python_version >= "3.9" and python_version < "4"
fiona==1.10.1 ; python_version >= "3.9" and python_version < "4"
fonttools==4.58.4 ; python_version >= "3.9" and python_version < "4"
fsspec==2025.5.1 ; python_version >= "3.9" and python_version < "4"
furo==2024.8.6 ; python_version >= "3.9" and python_version < "4"
geopandas==1.0.1 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
geopandas==1.1.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
geoviews==1.12.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
geoviews==1.14.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
h11==0.16.0 ; python_version >= "3.9" and python_version < "4"
h5netcdf==1.6.1 ; python_version >= "3.9" and python_version <= "3.11"
h5py==3.14.0 ; python_version >= "3.9" and python_version <= "3.11"
holoviews==1.20.2 ; python_version >= "3.9" and python_version < "4"
html5lib==1.1 ; python_version >= "3.9" and python_version < "4"
httpcore==1.0.9 ; python_version >= "3.9" and python_version < "4"
httpx==0.28.1 ; python_version >= "3.9" and python_version < "4"
hvplot==0.11.3 ; python_version >= "3.9" and python_version < "4"
idna==3.10 ; python_version >= "3.9" and python_version < "4"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "4"
importlib-metadata==8.7.0 ; python_version >= "3.9" and python_version <= "3.11"
importlib-resources==6.5.2 ; python_version == "3.9"
iniconfig==2.1.0 ; python_version >= "3.9" and python_version < "4"
ipykernel==6.29.5 ; python_version >= "3.9" and python_version < "4"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "4"
ipython==8.18.1 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
ipython==8.37.0 ; python_version == "3.10" and platform_python_implementation != "PyPy"
ipython==9.3.0 ; python_version >= "3.11" and python_version < "4"
ipywidgets==8.1.7 ; python_version >= "3.9" and python_version < "4"
jedi==0.19.2 ; python_version >= "3.9" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4"
jsonschema-specifications==2025.4.1 ; python_version >= "3.9" and python_version < "4"
jsonschema==4.24.0 ; python_version >= "3.9" and python_version < "4"
jupyter-client==8.6.3 ; python_version >= "3.9" and python_version < "4"
jupyter-core==5.8.1 ; python_version >= "3.9" and python_version < "4"
jupyterlab-widgets==3.0.15 ; python_version >= "3.9" and python_version < "4"
kiwisolver==1.4.7 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
limits==4.2 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
limits==5.4.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
linkify-it-py==2.0.3 ; python_version >= "3.9" and python_version < "4"
llvmlite==0.43.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
llvmlite==0.44.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
locket==1.0.0 ; python_version >= "3.9" and python_version < "4"
lxml-html-clean==0.4.2 ; python_version >= "3.9" and python_version < "4"
lxml==5.4.0 ; python_version >= "3.9" and python_version < "4"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4"
markdown==3.8.2 ; python_version >= "3.9" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4"
matplotlib-inline==0.1.7 ; python_version >= "3.9" and python_version < "4"
matplotlib==3.10.3 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
matplotlib==3.9.4 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
mdit-py-plugins==0.4.2 ; python_version >= "3.9" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4"
mistune==3.1.3 ; python_version >= "3.9" and python_version < "4"
multidict==6.5.0 ; python_version >= "3.9" and python_version < "4"
multifutures==0.3.2 ; python_version >= "3.9" and python_version < "4"
mypy-extensions==1.1.0 ; python_version >= "3.9" and python_version < "4"
mypy==1.16.1 ; python_version >= "3.9" and python_version < "4"
narwhals==1.44.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
nbclient==0.10.2 ; python_version >= "3.9" and python_version < "4"
nbformat==5.10.4 ; python_version >= "3.9" and python_version < "4"
nbmake==1.5.5 ; python_version >= "3.9" and python_version < "4"
ndbc-api==0.24.6.12.1 ; python_version >= "3.12" and python_version < "4"
ndbc-api==0.25.6.9.1 ; python_version >= "3.9" and python_version <= "3.11"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "4"
numba==0.60.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
numba==0.61.2 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
numpy==2.0.2 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
packaging==24.2 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
packaging==25.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
pandas==2.3.0 ; python_version >= "3.9" and python_version < "4"
panel==1.4.5 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
panel==1.7.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
param==2.2.1 ; python_version >= "3.9" and python_version < "4"
parso==0.8.4 ; python_version >= "3.9" and python_version < "4"
partd==1.4.2 ; python_version >= "3.9" and python_version < "4"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "4"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "4" and (sys_platform != "win32" and python_version < "3.11" and platform_python_implementation == "PyPy" or sys_platform != "win32" and sys_platform != "emscripten" or sys_platform != "win32" and python_version == "3.9")
pillow==11.2.1 ; python_version >= "3.9" and python_version < "4"
platformdirs==4.3.8 ; python_version >= "3.9" and python_version < "4"
pluggy==1.6.0 ; python_version >= "3.9" and python_version < "4"
prompt-toolkit==3.0.51 ; python_version >= "3.9" and python_version < "4"
propcache==0.3.2 ; python_version >= "3.9" and python_version < "4"
psutil==7.0.0 ; python_version >= "3.9" and python_version < "4"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "4" and (sys_platform != "win32" and python_version < "3.11" and platform_python_implementation == "PyPy" or sys_platform != "win32" and sys_platform != "emscripten" or sys_platform != "win32" and python_version == "3.9")
pure-eval==0.2.3 ; python_version >= "3.9" and python_version < "4"
pyarrow==20.0.0 ; python_version >= "3.9" and python_version < "4"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4" and implementation_name == "pypy"
pydantic-core==2.33.2 ; python_version >= "3.9" and python_version < "4"
pydantic==2.11.7 ; python_version >= "3.9" and python_version < "4"
pygments==2.19.2 ; python_version >= "3.9" and python_version < "4"
pyogrio==0.11.0 ; python_version >= "3.9" and python_version < "4"
pyparsing==3.2.3 ; python_version >= "3.9" and python_version < "4"
pyproj==3.6.1 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
pyproj==3.7.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
pyshp==2.3.1 ; python_version >= "3.9" and python_version < "4"
pytest-cov==6.2.1 ; python_version >= "3.9" and python_version < "4"
pytest-recording==0.13.4 ; python_version >= "3.9" and python_version < "4"
pytest-xdist==3.7.0 ; python_version >= "3.9" and python_version < "4"
pytest==8.4.1 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4"
pytz==2025.2 ; python_version >= "3.9" and python_version < "4"
pyviz-comms==3.0.6 ; python_version >= "3.9" and python_version < "4"
pywin32==310 ; python_version >= "3.9" and python_version < "4" and platform_python_implementation != "PyPy" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4"
pyzmq==27.0.0 ; python_version >= "3.9" and python_version < "4"
rasterio==1.4.3 ; python_version >= "3.9" and python_version < "4"
referencing==0.36.2 ; python_version >= "3.9" and python_version < "4"
requests==2.32.4 ; python_version >= "3.9" and python_version < "4"
retrying==1.4.0 ; python_version >= "3.9" and python_version < "4"
rioxarray==0.15.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
rioxarray==0.19.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
roman-numerals-py==3.1.0 ; python_version >= "3.11" and python_version < "4"
rpds-py==0.25.1 ; python_version >= "3.9" and python_version < "4"
scipy==1.13.1 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
scipy==1.15.3 ; python_version == "3.10" and platform_python_implementation != "PyPy"
scipy==1.16.0 ; python_version >= "3.11" and python_version < "4"
setuptools==80.9.0 ; python_version >= "3.9" and python_version < "4"
shapely==2.0.7 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
shapely==2.1.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
six==1.17.0 ; python_version >= "3.9" and python_version < "4"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "4"
snowballstemmer==3.0.1 ; python_version >= "3.9" and python_version < "4"
soupsieve==2.7 ; python_version >= "3.9" and python_version < "4"
spatialpandas==0.4.10 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
spatialpandas==0.5.0 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
sphinx-autodoc-typehints==2.3.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
sphinx-autodoc-typehints==3.0.1 ; python_version == "3.10" and platform_python_implementation != "PyPy"
sphinx-autodoc-typehints==3.2.0 ; python_version >= "3.11" and python_version < "4"
sphinx-basic-ng==1.0.0b2 ; python_version >= "3.9" and python_version < "4"
sphinx-mdinclude==0.6.2 ; python_version >= "3.9" and python_version < "4"
sphinx==7.4.7 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
sphinx==8.1.3 ; python_version == "3.10" and platform_python_implementation != "PyPy"
sphinx==8.2.3 ; python_version >= "3.11" and python_version < "4"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.9" and python_version < "4"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.9" and python_version < "4"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.9" and python_version < "4"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "4"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.9" and python_version < "4"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.9" and python_version < "4"
sphinxext-opengraph==0.10.0 ; python_version >= "3.9" and python_version < "4"
stack-data==0.6.3 ; python_version >= "3.9" and python_version < "4"
tenacity==9.1.2 ; python_version >= "3.9" and python_version < "4"
toml==0.10.2 ; python_version >= "3.9" and python_version < "4"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
toolz==1.0.0 ; python_version >= "3.9" and python_version < "4"
tornado==6.5.1 ; python_version >= "3.9" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "4"
traitlets==5.14.3 ; python_version >= "3.9" and python_version < "4"
types-beautifulsoup4==4.12.0.20250516 ; python_version >= "3.9" and python_version < "4"
types-deprecated==1.2.15.20250304 ; python_version >= "3.9" and python_version < "4"
types-html5lib==1.1.11.20250516 ; python_version >= "3.9" and python_version < "4"
types-requests==2.32.4.20250611 ; python_version >= "3.9" and python_version < "4"
types-tqdm==4.67.0.20250516 ; python_version >= "3.9" and python_version < "4"
typing-extensions==4.14.0 ; python_version >= "3.9" and python_version < "4"
typing-inspection==0.4.1 ; python_version >= "3.9" and python_version < "4"
tzdata==2025.2 ; python_version >= "3.9" and python_version < "4"
uc-micro-py==1.0.3 ; python_version >= "3.9" and python_version < "4"
urllib3==2.5.0 ; python_version >= "3.9" and python_version < "4"
vcrpy==4.3.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
vcrpy==5.1.0 ; python_version >= "3.11" and python_version < "4" and platform_python_implementation == "PyPy"
vcrpy==7.0.0 ; python_version >= "3.10" and python_version < "4" and platform_python_implementation != "PyPy"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "4"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "4"
widgetsnbextension==4.0.14 ; python_version >= "3.9" and python_version < "4"
wrapt==1.17.2 ; python_version >= "3.9" and python_version < "4"
xarray==2024.7.0 ; python_version == "3.9" or python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "PyPy"
xarray==2025.6.1 ; python_version >= "3.10" and python_version < "4" and (platform_python_implementation != "PyPy" or python_version >= "3.11")
xyzservices==2025.4.0 ; python_version >= "3.9" and python_version < "4"
yarl==1.20.1 ; python_version >= "3.9" and python_version < "4"
zipp==3.23.0 ; python_version >= "3.9" and python_version <= "3.11"
