interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://access.co-ops.nos.noaa.gov/nwsproducts.html?type=current
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n<meta name=\"description\"
        content=\"CO-OPS and NWS Products\">\n<meta name=\"pragma\" content=\"no-cache\">\n<meta
        name=\"Cache-control\" content=\"no-store\">\n<title>CO-OPS &amp; NWS Products
        Searchable List</title>\n<script src=\"/diagtool/js/jquery/jquery-latest.js\"
        type=\"text/javascript\"></script>\n<script src=\"/diagtool/js/jquery-ui.js\"
        type=\"text/javascript\"></script>\n<script src=\"/diagtool/js/bootstrap/bootstrap-latest.js\"
        type=\"text/javascript\"></script>\n<script src=\"/includes/federated-analytics.js?agency=DOC&subagency=NOAA&pua=UA-47217314-9\"
        id =\"_fed_an_ua_tag\" type=\"text/javascript\"></script>\n<link href=\"/diagtool/css/bootstrap/bootstrap-latest.css\"
        rel=\"stylesheet\" type=\"text/css\">\n<link href=\"/css/nwsproducts_mobile.css\"
        rel=\"stylesheet\" type=\"text/css\">\n<link href=\"/css/nwsproducts_search.css\"
        rel=\"stylesheet\" type=\"text/css\">\n<style type=\"text/css\">\n  .nav-list
        > .active > a,\n  .nav-list > .active > a:hover,\n  .nav-list > .active >
        a:focus {\n    color: #ffffff;\n    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);\n
        \   background-color: #005785;\n  }\n</style>\n<script type=\"text/javascript\">\n
        \ $(function () {\n     $('#nosnws_tabs a:first').tab('show');\n  });\n</script>\n</head>\n<body>\n<div
        class=\"container-fluid\">\n  <div>\n    <div id=\"header\">\n      <img src=\"/images/noaa_logo.png\"
        alt=\"NOAA Logo\" name=\"NOAA_Logo\">CO-OPS &amp; NWS Products\n    </div>\n
        \ </div>\n  <div class=\"text-center\">\n    <h2>Station ID and NWS ID Searchable
        List</h2>\n    <p>Use NWS ID or station ID or station name to find a station
        s NWS ID information</p>\n  </div>\n\n  <ul class=\"nav nav-tabs\" id=\"myTab\"
        role=\"tablist\">\n    <li class=\"nav-item\" role=\"presentation\">\n     <a
        class=\"nav-link active\" id=\"current-tab\" data-toggle=\"tab\" href=\"#current\"
        role=\"tab\" aria-controls=\"current\" aria-selected=\"true\">Current NOS/NWS
        IDs</a>\n    </li>\n    <li class=\"nav-item\" role=\"presentation\">\n      <a
        class=\"nav-link\" id=\"hist-tab\" data-toggle=\"tab\" href=\"#hist\" role=\"tab\"
        aria-controls=\"hist\" aria-selected=\"false\">Historical NOS/NWS IDs</a>\n
        \   </li>\n  </ul>\n\n  <div class=\"tab-content\">\n    <div class=\"tab-pane
        active\" id=\"current\" role=\"tabpanel\" aria-labelledby=\"current-tab\">\n
        \     \n  <div>\n    <h4 style=\"text-align:center;\">Current SHEF/NWS IDs</h4>\n
        \   <p style=\"text-align:center;\">(This page is for NOAA CO-OPS/NWS support
        only, for CO-OPS main products please visit to the\n    <a href=\"https://tidesandcurrents.noaa.gov\"
        target=\"_blank\">CO-OPS web site</a>.)</p>\n  </div>\n\n  <div>\n    <input
        type=\"text\" id=\"SearchNWSID\" onkeyup=\"NWSID_Search()\" placeholder=\"Search
        for NWS ID, station ID, or station name..\" title=\"Search Station or NWS
        IDs\">\n  </div>\n  <div class=\"table-responsive\">\n    <table id=\"NWSTable\"
        class=\"table table-hover\">\n      <tr class=\"table-info\">\n        <th>NOS
        ID</th>\n        <th>NWS ID</th>\n        <th>Latitude</th>\n        <th>Longitude</th>\n
        \       <th>State</th>\n        <th>Station Name</th>\n      </tr>\n      <tr><td>1600012</td><td>46125</td><td>
        \ 37.75008</td><td> 122.60028</td><td></td><td>QREB buoy</td></tr>\n      <tr><td>1611400</td><td>NWWH1</td><td>
        \ 21.95440</td><td>-159.35610</td><td>HI</td><td>Nawiliwili</td></tr>\n      <tr><td>1612340</td><td>OOUH1</td><td>
        \ 21.30669</td><td>-157.86700</td><td>HI</td><td>Honolulu</td></tr>\n      <tr><td>1612480</td><td>MOKH1</td><td>
        \ 21.43306</td><td>-157.79000</td><td>HI</td><td>Mokuoloe</td></tr>\n      <tr><td>1615680</td[...]
