---
name: "Run Tests"

on: [ push ]

jobs:
  lint:
    name: lint
    strategy:
      fail-fast: true
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.9", "3.x" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: clone repository
        uses: actions/checkout@v2
      - name: install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: load cached Python installation
        id: cached-dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: test-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: pip install . black mypy prospector pytest types-requests
      - name: lint with black
        run: black --check .
      - name: lint with prospector
        run: make lint
      - name: lint with mypy
        run: make mypy
  test:
    needs: lint
    name: test
    strategy:
      fail-fast: true
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.9", "3.x" ]
    runs-on: ${{ matrix.os }}
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      #----------------------------------------------
      #       load cached dependencies if cache exists
      #----------------------------------------------
      - name: load cached Python installation
        id: cached-dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: test-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/poetry.lock') }}
      #----------------------------------------------
      # install dependencies if cache does not exist
      #----------------------------------------------
      - name: Install dependencies
        run: pip install . pytest pytest-cov
      #----------------------------------------------
      # Run tests
      #----------------------------------------------
      - name: Run tests with coverage
        run: |
          pytest --record-mode none tests/
          coverage report
